<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net461" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net461" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net461" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net461" />
</packages>