<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.disabledtech.winremote">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<receiver android:name=".control.BTConnectionClient">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.bluetooth.device.action.FOUND"></action>-->
                <!--<action android:name="android.bluetooth.adapter.action.DISCOVERY_STARTED"></action>-->
                <!--<action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED"></action>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>